.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    gap: 60px;
    box-sizing: border-box;
    width: 100%;
}

.comment-content {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    box-sizing: border-box;
    width: 100%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #9747FF;
    border-radius: 10px;
    width: 851px;
    height: 272px;
    padding: 48px 96px;
}

.quote-marks {
    width: 65px;
    height: 70px;
    position: relative;
    left: 55px;
    bottom: 50px;
}

.comment-img-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.comment-img {
    width: 272px;
    height: 272px;
    background-color: #ccc;
    border-radius: 50%;
    border: 3px solid #70E61C;
}

.comment-green-line {
    height: 3px;
}

.comment-navigation-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.comment-navigation-container button {
    cursor: pointer;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #70E61C;
    border: none;
    transition: all 0.3s ease-in-out;
}