.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    gap: 60px;
    box-sizing: border-box;
    width: 100%;
}

.comment-content {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    box-sizing: border-box;
    width: 100%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #9747FF;
    border-radius: 10px;
    width: 851px;
    height: 272px;
    padding: 48px 96px;
}

.quote-marks {
    width: 65px;
    height: 70px;
    position: relative;
    left: 70px;
    bottom: 50px;
}

.comment-img-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.comment-img {
    width: 272px;
    height: 272px;
    background-color: #ccc;
    border-radius: 50%;
    border: 3px solid #70E61C;
}

.comment-green-line {
    height: 3px;
}

.comment-navigation-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    line-height: 120%;
}

.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#left_arrow {
    background-image: url("../assets/icons/arrow_left.png");
}

#left_arrow:hover {
    background-image: url("../assets/icons/arrow_left_framed.png");
}

#right_arrow {
    background-image: url("../assets/icons/arrow_right.png");
}

#right_arrow:hover {
    background-image: url("../assets/icons/arrow_right_framed.png");
}

.navigation-dot {
    font-size: 24px;
    color: #9747FF;
}