.main-content {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 90vw, 1440px);
    margin-top: clamp(40px, 6vh, 56px);
    margin-bottom: clamp(40px, 6vh, 60px);
    height: auto;
    box-sizing: border-box;
}

nav span {
    color: white;
}

.legal-header {
    width: 100%;
    margin-top: 109px;
    overflow: visible;
}

.header-content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: clamp(15px, 3vw, 25px);
}

.header-content-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.return-arrow-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.return-arrow {
    width: clamp(30px, 3vw, 40px);
    height: clamp(35px, 4vw, 40px);
    color: #70E61C;
    cursor: pointer;
    background-image: url(../assets/icons/arrow_left_framed.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    margin-right: 38px;
}

.purple-line-left {
    width: clamp(45px, 14vw, 130px);
    height: 2px;
    flex-shrink: 0;
}

.purple-line-right {
    width: clamp(150px, 40vw, 580px);
    height: 2px;
    flex-shrink: 0;
}

h1 {
    font-size: clamp(22px, 6vw, 48px);
    color: #70E61C;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

h2 {
    font-size: clamp(20px, 4vw, 33px);
    color: #9747FF;
    font-weight: 700;
    line-height: 120%;
    margin-top: clamp(25px, 2vh, 40px);
    margin-bottom: clamp(15px, 2vh, 20px);
}

h3 {
    font-size: clamp(18px, 2vw, 19px);
    color: #9747FF;
    font-weight: 700;
    line-height: 120%;
    margin-top: clamp(20px, 3vh, 24px);
    margin-bottom: clamp(10px, 1.5vh, 12px);
}

.main-content p {
    font-size: clamp(16px, 1.8vw, 16px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: clamp(20px, 3vh, 24px);
    color: white;
}

.main-content div {
    font-size: clamp(16px, 1.8vw, 16px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: clamp(15px, 2vh, 20px);
    color: white;
}

span {
    color: #9747FF;
    font-weight: 700;
}

@media (min-width: 1441px) {
    .purple-line-right {
        position: relative;
        width: calc((100vw - 1440px) / 2 + 580px);
    }
}

@media(min-width: 769px) {
    .header-content-wrapper a {
        display: none;
    }
}

@media(max-width: 1124px) {
    .purple-line-right {
        width: clamp(120px, 30vw, 580px);
    }
}

/* ⚠️ TABLET - 768px */
@media(max-width: 768px) {
    .header-content {
        gap: 8px;
    }

    .main-content p,
    .main-content div {
        font-size: 16px;
    }
}

@media(max-width: 350px) {
    h1 {
        font-size: 20px;
    }
}