.main-content {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 90vw, 1440px);
    margin-top: clamp(40px, 6vh, 56px);
    margin-bottom: clamp(40px, 6vh, 60px);
    height: auto;
    box-sizing: border-box;
}

.privacy-header {
    width: 100%;
    margin-top: 109px;
    overflow: visible;
}

.header-content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.header-content-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.return-arrow-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.return-arrow {
    width: clamp(30px, 3vw, 40px);
    height: clamp(35px, 4vw, 40px);
    color: #70E61C;
    cursor: pointer;
    background-image: url(../assets/icons/arrow_left_framed.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    margin-right: 38px;
}

.privacy-h1 {
    font-size: clamp(22px, 6vw, 48px);
    color: #70E61C;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    position: relative;
    z-index: 2;
    background-color: #141D2F;
    padding: 0 10px;
}

.privacy-h2 {
    font-size: clamp(20px, 4vw, 33px);
    color: #9747FF;
    font-weight: 700;
    line-height: 120%;
    margin-top: clamp(25px, 2vh, 40px);
}

.privacy-h3 {
    font-size: clamp(18px, 2vw, 19px);
    font-weight: 700;
}

.privacy-h4 {
    font-size: clamp(18px, 2vw, 19px);
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
}

.privacy-p {
    font-size: clamp(16px, 1.8vw, 16px);
    font-weight: 400;
    color: white;
}

.privacy-a {
    font-size: clamp(16px, 1.8vw, 16px);
    color: #9747FF;
    text-decoration: none;
}

.privacy-a:hover {
    text-decoration: underline;
}

.first-header-line {
    width: clamp(45px, 14vw, 130px);
    height: 2px;
    flex-shrink: 0;
}

.second-header-line {
    width: clamp(150px, 40vw, 580px);
    width: 100vw;
    height: 2px;
    flex-shrink: 0;
    z-index: 1;
}

.content ul {
    padding-left: clamp(20px, 3vw, 30px);
}

.content div {
    font-size: clamp(16px, 1.8vw, 16px);
    line-height: 1.5;
    color: white;
}

@media (min-width: 1441px) {
    .second-header-line {
        position: relative;
        width: calc((100vw - 1440px) / 2 + 730px);
    }
}

@media(min-width: 769px) {
    .header-content-wrapper a {
        display: none;
    }
}